.transactionbutton {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}

.accountcontentwrapper {
  width: 100%;
  flex: 1;
}

@media (min-width: 720px) {
  .accountcontentwrapper.cta {
    flex: 0;
  }

  .transactionbutton {
    width: 200px;
  }
}
