.main {
  display: flex;
  min-height: 85vh;
}

.mainnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.mainnav a {
  font-weight: bold;
  color: #2c3e50;
}

.mainnav a.router-link-exact-active {
  color: #42b983;
}

.mainnavitem {
  text-decoration: none;
  margin-right: 0.5rem;
  margin-left: 0.3rem;
}

.mainnavitem:hover {
  text-decoration: underline;
}

.signinicon {
  font-size: 1rem;
  margin-right: 0.3rem;
}

.mainsignin {
  flex: 1;
  background-color: #12002b;
}

.signinbutton {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}

.signincontent {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
}

.inputremember {
  display: flex;
}

.inputremember label {
  margin-left: 0.25rem;
}

.inputwrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}

.inputwrapper label {
  font-weight: bold;
}

.inputwrapper input {
  padding: 5px;
  font-size: 1.2rem;
}

.error {
  padding-top: 10px;
  color: red;
}
