.errorpage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.errorpage * {
  margin: 0.3rem;
}

.errorpage h2 {
  color: #00bc77;
  font-size: xx-large;
}

.errorpage p {
  font-style: italic;
}
